@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@700;800&display=swap");
@import "tailwindcss";
@config "../../tailwind.config.js";

@layer base {
  :root {
    --color-page: #f8fafc;
    --color-page-dark: #020617;

    --color-surface: #ffffff;
    --color-accent: #06b6d4;

    --color-primary: #0f172a;
    --color-secondary: #4a5565;
    --color-secondary-dark: #9ca3af;

    --color-border: #e2e8f0;
    --color-border-dark: #1e293b;
  }

  body {
    @apply font-poppins bg-page dark:bg-page-dark text-primary dark:text-surface;
  }
}

@layer components {
  .font-portfolio {
    font-family: "Syne", sans-serif;
  }
  .entered {
    @apply translate-y-0 opacity-100;
  }
  .loading-ring {
    @apply w-12.5 h-12.5 border-t-[6px] border-solid border-accent rounded-full animate-spin-fast;
  }

  .loading-text {
    @apply text-sm font-medium animate-pulse;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-25px);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  from {
    color: rgb(43, 43, 43);
  }
  to {
    color: gray;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
